.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}


*{
    font-family: 'Poppins', sans-serif;
}
.bg-dark {
    background-color: #242526 !important;
}
.btn-light{

}

html, body {
  /*margin: 0;*/
  /*padding: 0;*/
  height: 100vh;
  overflow: hidden;
}



.round-corners {
  border-radius: 100%;
}
